Repository kelvis24/FoodHub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, maven-test, auto-deploy, android-build, android-test

.gitlab-ci.yml:

stages:
    - mavenbuild
    - maventest
    - autodeploy
    - androidbuild
    - androidtest

maven-build:
    stage: mavenbuild
    tags:
        - shell
    script:
        - cd Backend/FoodHub
        - mvn package -B
    only:
        changes:
            - Backend/**/*

maven-test:
    stage: maventest
    tags:
        - shell
    script:
        - cd Backend/FoodHub
        - mvn test
    artifacts:
        paths:
            - Backend/FoodHub/target/*.jar
    only:
        changes:
            - Backend/**/*

auto-deploy:
    stage: autodeploy
    tags:
        - shell
    script:
        - cd Backend/FoodHub
        - mvn package
        - sudo mv target/*.jar /target/web-demo.jar
        - sudo systemctl stop systemd-web-demo
        - sudo systemctl start systemd-web-demo
    only:
        changes:
            - Backend/**/*

android-build:
    image: gjandres/android-ci:latest
    stage: androidbuild
    before_script:
        - export GRADLE_USER_HOME=`pwd`/.gradle
        - chmod +x ./Frontend/gradlew
    tags:
        - android_tag1
    script:
        - cd Frontend
        - ./gradlew build
    artifacts:
        paths:
            - Frontend/app/build/outputs/
    only:
        refs:
            - main
        changes:
            - Frontend/**/*

android-test:
    image: gjandres/android-ci:latest
    stage: androidtest
    before_script:
        - export GRADLE_USER_HOME=`pwd`/.gradle
        - chmod +x ./Frontend/gradlew
    tags:
        - android_tag1
    script:
        - cd Frontend
        - ./gradlew test
    only:
        refs:
            - main
        changes:
            - Frontend/**/*

Hopefully invoking a pipeline
  Backend/small
Due: maven-build, maven-test, auto-deploy

Hopefully envoking a pipeline
  Backend/FoodHub/src/main/java/foodhub/controllers/CustomerController.java
Due: maven-build, maven-test, auto-deploy

Enable running backend pipeline without going through main
  .gitlab-ci.yml
Due: none

Hopefully envoking the pipeline
  Backend/FoodHub/src/main/java/foodhub/controllers/CustomerController.java
Due: maven-build, maven-test, auto-deploy

Back to normal
  .gitlab-ci.yml
Due: none

Removed "only main" stuff for backend
  .gitlab-ci.yml
Due: none

Added a comment
  Backend/FoodHub/src/main/java/foodhub/controllers/LazyImagesController.java
Due: maven-build, maven-test, auto-deploy

Updating tests for demo
  Frontend/app/src/tests/frontendsettest.java
Due: android-build, android-test

Update for tests
  Frontend/app/src/tests/frontendsettest.java
Due: android-build, android-test

Uncommented config annotation
  Backend/FoodHub/src/main/java/foodhub/websocket/WebSocketConfig.java
Due: maven-build, maven-test, auto-deploy

Added more messages and functionality
  Backend/FoodHub/src/main/java/foodhub/controllers/OTCController.java
  Backend/FoodHub/src/main/java/foodhub/controllers/OTFController.java
Due: maven-build, maven-test, auto-deploy
